

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #4eacfa, #fff);
    min-height: 100vh;
}

main{
    display: inline-block;
    margin-top: 2%;
}